.Education {
    margin-left: var(--margin-left-resume);
    margin-right: var(--margin-right-resume);
}

.Edu__Title {
    text-align: center;
    margin-top: 0;

    font-size: 2em;
}

.Edu__unit {
    display: flex;
    gap: 70px;
    margin-bottom: 50px;
}

    .Edu__left {
        width: 120px;
    }

        .Edu__city {
            font-size: 1.2em;
        }

        .Edu__dateDiv {
            display: flex;
            gap: 5px;
        }

    .Edu__right {
        width: 700px;
    }

        .Edu__sectionTitle {
            margin-top: 0;
            margin-bottom: 0;

            font-size: 1.5em;
        }

        .Edu__sectionSubTitle {
            margin: 0;
            margin-bottom: 15px;

            font-size: 1.2em;
        }

        .Edu__description {
            margin: 0;
            overflow-wrap: break-word;
        }

.margin0 {
    margin: 0;
}

.Edu__deleteButton {
    background-color: var(--color-background);
    border: none;

    width: 90px;
    padding: 15px 10px;
    border: 1px solid var(--color-grey);
    border-radius: 15px;

    
    color: hsl(0, 98%, 32%);
    text-shadow: 0 1px 0 hsl(0, 98%, 22%);
    cursor: pointer;
}

.Edu__deleteButton:hover {
    background-color: #CECECE;
}

.Edu__deleteButton:active {
    background-color: #BABABA;
}

.Edu__deleteButtonDiv {
    padding: 20px 0px;
}

.Edu__addButton {
    margin-bottom: 50px;
    position: relative;
    left: 46%;
    width: 120px;

    background-color: var(--color-background);
    border: none;

    padding: 10px 30px;
    border: 1px solid var(--color-grey);
    border-radius: 15px;

    font-size: 1.2rem;
    text-shadow: 0 1px 0 hsl(183, 100%, 20%);
    color: var(--color-teal);
    cursor: pointer;
}

.Edu__addButton:hover {
    background-color: #CECECE;
}

.Edu__addButton:active {
    background-color: #BABABA;
}