
.pageHeader {
    /* height: 5%; */
    height: 100px;

    margin: 5px 20px 0 20px;
    background-color: var(--color-grey);
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHeader__title {
    margin: 0;
    color: var(--color-teal);
}

.headerDiv {
    display: flex;
    gap: 5px;
}

.headerGithub{
    height: 37px;
    width: 37px;
}

.githubA:link { text-decoration: none; }
.githubA:visited { text-decoration: none; }
.githubA:hover { text-decoration: none; }
.githubA:active { text-decoration: none; }