.PersonalInformation {
    min-height: 200px;

    display: grid;
    grid-template-columns: 5fr 2fr;
}

.PerInfo__rightSide {
    margin-left: var(--margin-left-resume);
    margin-bottom: 50px;
}

    .PerInfo__NameSurnameDiv {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        flex-wrap: wrap;
        max-width: 800px;
    }

        .PerInfo__name {
            margin: 0;
            padding: 0;
            color: var(--color-teal);
            max-width: 100%;

            font-size: 60px;
            cursor: pointer;

            overflow-wrap: break-word;
        }

            .PerInfo__name:hover {
                box-shadow: 0 1px 0 0 var(--color-teal);
            }

    .PerInfo__titleDiv {
        display: flex;
        margin-top: 20px;
        max-width: 800px;
    }
    
        .PerInfo__title {
            margin: 0;
            padding: 0;
            color: var(--color-grey);
            max-width: 100%;

            font-size: 35px;

            cursor: pointer;

            overflow-wrap: break-word;
        }

        .PerInfo__title:hover {
            box-shadow: 0 1px 0 0 var(--color-teal);
        }

.PerInfo__leftSide {
    padding-top: 90px;
    display: flex;
    width: 200px;

    flex-direction: column;
    margin-left: auto;
    margin-right: var(--margin-right-resume);
}

    .PerInfo__icon {
        width: 20px;
        height: 20px;
    }

    .PerInfo__iconData {
        max-width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        cursor: pointer;

        margin-bottom: 20px;
    }

    .PerInfo__leftSide p {
        max-width: 200px;
        margin: 0;
        margin-bottom: 0px;
        overflow-wrap: break-word;

        font-size: 1rem;
    }

    .PerInfo__leftSide p:hover {
        box-shadow: 0 2px 0 0 var(--color-teal);
    }


.PerInfo__Input {
    background-color: var(--color-background);
    border: none;
    outline: none;
    padding: 0;
    margin: 0;

    box-shadow: 0 2px 0 0 var(--color-teal);

    font-family: var(--font-family);
}

    .PerInfo__editName {
        width: 500px;
        color: var(--color-teal);

        font-size: 60px;
    }

    .PerInfo__editTitle {
        color: var(--color-grey);
        font-size: 35px;
    }

    .perInfo__editMailTelephone {
        width: 200px;
        font-size: 1rem;
    }