.PersonalInformation {
    min-height: 200px;

    display: grid;
    grid-template-columns: 5fr 2fr;
}

.PerInfo__rightSide {
    margin-left: var(--margin-left-resume);
}

    .PerInfo__NameSurnameDiv {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

        .PerInfo__name {
            margin: 0;
            padding: 0;
            color: var(--color-teal);

            font-size: 60px;
            cursor: pointer;
        }

        .PerInfo__Input {
            align-self: center;
        }

    .PerInfo__titleDiv {
        margin-top: 20px;
    }
    
        .PerInfo__title {
            margin: 0;
            padding: 0;
            color: var(--color-grey);

            font-size: 35px;
        }

.PerInfo__leftSide {
    padding-top: 90px;
    display: flex;

    flex-direction: column;
    margin-left: auto;
    margin-right: var(--margin-right-resume);
}

    .PerInfo__icon {
        width: 20px;
        height: 20px;
    }

    .PerInfo__iconData {
        display: flex;
        align-items: center;
        gap: 10px;
    }