/* Din A4 size*/
.Resume {
    margin: 27mm 16mm 27mm 16mm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resume__body {
    width: 1240px;
    height: 1754px;
    border: 1px solid black;

    display: grid;

    grid-template-columns: 1fr 10fr;

    grid-template-areas: 
    "border content"
    ;
}

.Resume__border { 
    background-color: var(--color-grey);
    grid-area: border;
}

.Resume__content {
    border: 1px solid red;
    grid-area: content;

    display: flex;
    flex-direction: column;
}
