/* Din A4 size*/

:root {
    --margin-left-resume: 40px;
    --margin-right-resume: 40px;
    --margin-hr: 50px;
}

.Resume {
    margin: 27mm 16mm 27mm 16mm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resume__body {
    width: 1240px;
    height: 1754px;
    border: 1px solid black;

    display: grid;

    grid-template-columns: 1fr 10fr;

    grid-template-areas: 
    "border content"
    ;
}

.Resume__border { 
    background-color: var(--color-grey);
    grid-area: border;
}

.Resume__content {
    grid-area: content;

    display: flex;
    flex-direction: column;
}

hr.rounded {
    margin: 0;
    grid-column-start: 1;
	grid-column-end: -1;

    height: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    border-radius: 5px;

    margin-bottom: var(--margin-hr);
}